<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
<h1>Hello My fiend!</h1>
<div class="index-header-2qEhu index-stickyHeader-2gJGM">
    <div class="">
        <div class="header-root-6seVg header-services header-responsive-3jENG" data-marker="header/navbar">
            <div class="header-inner-2-Vie header-clearfix-2NUk3">
                <ul class="header-list-2MyMH header-nav-3XgsT header-clearfix-2NUk3">
                    <li class="header-nav-item-125dL">
                        <a class="header-link-nCPL_ header-nav-link-3yDcQ" href="/tolyatti" target="" rel="" title="">Объявления</a>
                    </li>
                    <li class="header-nav-item-125dL">
                        <a class="header-link-nCPL_ header-nav-link-3yDcQ" href="/shops/tolyatti" target="" rel="" title="">Магазины</a>
                    </li>
                    <li class="header-nav-item-125dL">
                        <a class="header-link-nCPL_ header-nav-link-3yDcQ" href="/business" target="" rel="" title="">Бизнес</a>
                    </li><li class="header-nav-item-125dL">
                    <a class="header-link-nCPL_ header-nav-link-3yDcQ" href="//support.avito.ru" target="_blank" rel="noopener noreferrer" title="">Помощь</a>
                </li>
                </ul>
                <div class="header-services-menu-1FqDG">
                    <div class="header-services-menu-item-2VRYK" data-marker="header/favorites">
                        <a class="header-services-menu-link-TRWKh" href="/favorites" title="Избранное">
                            <span class="header-services-menu-icon-wrap-35sjL">
                                <span class="header-services-menu-icon-2ZyUe">
                                    <svg width="21" height="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.918 5.085a5.256 5.256 0 0 1 7.524 0c2.077 2.114 2.077 5.541 0 7.655l-7.405 7.534a.75.75 0 0 1-1.074 0L2.558 12.74c-2.077-2.114-2.077-5.54 0-7.655a5.256 5.256 0 0 1 7.524 0c.15.152.289.312.418.479.13-.167.269-.327.418-.479z" fill="#CCC" fill-rule="nonzero">
                                        </path>
                                    </svg>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="header-services-menu-item_username-PkxRh">
                        <a class="header-services-menu-link-TRWKh header-services-menu-link-not-authenticated-3kAga" href="#login?authsrc=h" data-marker="header/login-button">Вход и регистрация</a>
                    </div>
                </div>
                <a href="#login?next=%2Fadditem&amp;authsrc=ca" target="_self" class="header-button-wrapper-1LlFQ button-button-2Fo5k button-size-s-3-rn6 button-primary-1RhOG">Подать объявление</a>
            </div>
        </div>
    </div>
    <div class="index-root-2vXdX index-responsive-2of1I">
        <div class="index-navigation-Upfiw" data-marker="header-navigation">
            <div class="index-logo-3NZz1"><span class="logo-root-bqENt">
                <a class="logo-logo-3ugdk" title="Авито — сайт объявлений "></a>
            </span>
            </div>
            <div class="top-rubricator-root-1edPo">
                <a data-marker="navigation/link" href="/tolyatti/transport?cd=1" target="_self" class="link-link-39EVK link-design-default-2sPEv link-novisited-1w4JY top-rubricator-item-1ReMn">Авто</a>
                <a data-marker="navigation/link" href="/tolyatti/nedvizhimost?cd=1" target="_self" class="link-link-39EVK link-design-default-2sPEv link-novisited-1w4JY top-rubricator-item-1ReMn">Недвижимость</a>
                <a data-marker="navigation/link" href="/tolyatti/rabota?cd=1" target="_self" class="link-link-39EVK link-design-default-2sPEv link-novisited-1w4JY top-rubricator-item-1ReMn">Работа</a>
                <a data-marker="navigation/link" href="/tolyatti/predlozheniya_uslug?cd=1" target="_self" class="link-link-39EVK link-design-default-2sPEv link-novisited-1w4JY top-rubricator-item-1ReMn">Услуги</a>
                <span class="tooltip-tooltip-box-2rApK">
                    <span class="tooltip-target-wrapper-XcPdv">
                        <div>
                            <a target="_self" data-marker="more-link" class="link-link-39EVK link-design-default-2sPEv top-rubricator-item-1ReMn top-rubricator-moreLink-1WmXX">
                                <span class="top-rubricator-more-2YMwC text-text-1PdBw text-size-s-1PUdo">ещё</span>
                            </a>
                        </div>
                    </span>
                </span>
            </div>
        </div>
        <div class="index-search-3ke5o"><div class="index-form-2POmG" data-marker="search-form">
            <div class="category-select-root-2U90T"><div class="category-select-select-3qe_m select-select-box-3LBfK select-size-s-2gvAy">
                <select name="category_id" id="category" data-marker="search-form/category" class="select-select-3CHiM">
                    <option selected="" value="" data-marker="option">Любая категория</option>
                    <option value="1" class="category-select-group-y6FfI" data-marker="option(1)">Транспорт</option>
                    <option value="9" data-marker="option(9)">Автомобили</option>
                    <option value="14" data-marker="option(14)">Мотоциклы и мототехника</option>
                    <option value="81" data-marker="option(81)">Грузовики и спецтехника</option>
                    <option value="11" data-marker="option(11)">Водный транспорт</option>
                    <option value="10" data-marker="option(10)">Запчасти и аксессуары</option>
                    <option value="4" class="category-select-group-y6FfI" data-marker="option(4)">Недвижимость</option>
                    <option value="24" data-marker="option(24)">Квартиры</option><option value="23" data-marker="option(23)">Комнаты</option>
                    <option value="25" data-marker="option(25)">Дома, дачи, коттеджи</option>
                    <option value="85" data-marker="option(85)">Гаражи и машиноместа</option>
                    <option value="26" data-marker="option(26)">Земельные участки</option>
                    <option value="42" data-marker="option(42)">Коммерческая недвижимость</option>
                    <option value="86" data-marker="option(86)">Недвижимость за рубежом</option>
                    <option value="110" class="category-select-group-y6FfI" data-marker="option(110)">Работа</option>
                    <option value="111" data-marker="option(111)">Вакансии</option>
                    <option value="112" data-marker="option(112)">Резюме</option>
                    <option value="114" class="category-select-group-y6FfI" data-marker="option(114)">Услуги</option>
                    <option value="5" class="category-select-group-y6FfI" data-marker="option(5)">Личные вещи</option>
                    <option value="27" data-marker="option(27)">Одежда, обувь, аксессуары</option>
                    <option value="29" data-marker="option(29)">Детская одежда и обувь</option>
                    <option value="30" data-marker="option(30)">Товары для детей и игрушки</option>
                    <option value="28" data-marker="option(28)">Часы и украшения</option>
                    <option value="88" data-marker="option(88)">Красота и здоровье</option>
                    <option value="2" class="category-select-group-y6FfI" data-marker="option(2)">Для дома и дачи</option>
                    <option value="21" data-marker="option(21)">Бытовая техника</option>
                    <option value="20" data-marker="option(20)">Мебель и интерьер</option>
                    <option value="87" data-marker="option(87)">Посуда и товары для кухни</option>
                    <option value="82" data-marker="option(82)">Продукты питания</option>
                    <option value="19" data-marker="option(19)">Ремонт и строительство</option>
                    <option value="106" data-marker="option(106)">Растения</option>
                    <option value="6" class="category-select-group-y6FfI" data-marker="option(6)">Бытовая электроника</option>
                    <option value="32" data-marker="option(32)">Аудио и видео</option>
                    <option value="97" data-marker="option(97)">Игры, приставки и программы</option>
                    <option value="31" data-marker="option(31)">Настольные компьютеры</option>
                    <option value="98" data-marker="option(98)">Ноутбуки</option>
                    <option value="99" data-marker="option(99)">Оргтехника и расходники</option>
                    <option value="96" data-marker="option(96)">Планшеты и электронные книги</option>
                    <option value="84" data-marker="option(84)">Телефоны</option>
                    <option value="101" data-marker="option(101)">Товары для компьютера</option>
                    <option value="105" data-marker="option(105)">Фототехника</option>
                    <option value="7" class="category-select-group-y6FfI" data-marker="option(7)">Хобби и отдых</option>
                    <option value="33" data-marker="option(33)">Билеты и путешествия</option>
                    <option value="34" data-marker="option(34)">Велосипеды</option>
                    <option value="83" data-marker="option(83)">Книги и журналы</option>
                    <option value="36" data-marker="option(36)">Коллекционирование</option>
                    <option value="38" data-marker="option(38)">Музыкальные инструменты</option>
                    <option value="102" data-marker="option(102)">Охота и рыбалка</option><
                    option value="39" data-marker="option(39)">Спорт и отдых</option>
                    <option value="35" class="category-select-group-y6FfI" data-marker="option(35)">Животные</option>
                    <option value="89" data-marker="option(89)">Собаки</option>
                    <option value="90" data-marker="option(90)">Кошки</option>
                    <option value="91" data-marker="option(91)">Птицы</option>
                    <option value="92" data-marker="option(92)">Аквариум</option>
                    <option value="93" data-marker="option(93)">Другие животные</option>
                    <option value="94" data-marker="option(94)">Товары для животных</option>
                    <option value="8" class="category-select-group-y6FfI" data-marker="option(8)">Для бизнеса</option>
                    <option value="116" data-marker="option(116)">Готовый бизнес</option>
                    <option value="40" data-marker="option(40)">Оборудование для бизнеса</option>
                </select>
                <div class="select-part-KP5ck select-icon-23qbw">
                    <svg width="1em" height="1em" viewBox="0 0 28 28" style="font-size:1.4em" class="icon-icon-2HGyI icon-variant-default-1eXXW" aria-hidden="true" role="img">
                        <path d="M19,15.9393398 L24.4696699,10.4696699 C24.7625631,10.1767767 25.2374369,10.1767767 25.5303301,10.4696699 C25.8232233,10.7625631 25.8232233,11.2374369 25.5303301,11.5303301 L19.5303301,17.5303301 C19.2374369,17.8232233 18.7625631,17.8232233 18.4696699,17.5303301 L12.4696699,11.5303301 C12.1767767,11.2374369 12.1767767,10.7625631 12.4696699,10.4696699 C12.7625631,10.1767767 13.2374369,10.1767767 13.5303301,10.4696699 L19,15.9393398 Z"></path>
                    </svg></div></div></div><div class="index-suggest-1AbM9">
            <input type="text" id="search_greyed" autocomplete="off" spellcheck="false" maxlength="100" class="" value="" tabindex="-1" style="position: absolute;">
            <input type="text" id="search" placeholder="Поиск по объявлениям" autocomplete="off" spellcheck="false" maxlength="100" data-marker="search-form/suggest" class="suggest-root-1v2AH js-suggest suggest_search" value="">
        </div>
            <div class="index-button-2q4Wv">
                <button data-marker="search-form/submit-button" class="index-buttonElement-3wfmP button-button-2Fo5k button-size-s-3-rn6 button-default-mSfac" aria-busy="false">
                    <span class="button-textBox-Row9K">Найти</span>
                </button>
            </div>
            <div class="index-additions-1NOjk">
                <div class="filters-root-3Q1ZY">
                    <label style="vertical-align:middle" class="filters-filter-WFWro checkbox-checkbox-7igZ6 checkbox-size-s-yHrZq">
                        <input type="checkbox" name="byTitle" value="0" data-marker="search-form/by-title" class="checkbox-input-3KD6i">
                        <span class="checkbox-label-3AzRS text-text-1PdBw text-size-s-1PUdo text-color-default-1QVMz">только в названиях</span>
                    </label>
                    <label style="vertical-align:middle" class="checkbox-checkbox-7igZ6 checkbox-size-s-yHrZq"><input type="checkbox" name="withImagesOnly" value="0" data-marker="search-form/with-images" class="checkbox-input-3KD6i">
                        <span class="checkbox-label-3AzRS text-text-1PdBw text-size-s-1PUdo text-color-default-1QVMz">только с фото</span>
                    </label>
                </div>
            </div>
            <div class="main-root-Xf3Eb"><div class="main-locationWrapper-3C0pT">
                <span class="tooltip-tooltip-box-2rApK"><span class="tooltip-target-wrapper-XcPdv">
                    <div class="main-select-2pf7p main-location-3j9by" data-marker="search-form/region">
                        <div class="main-text-2PaZG">Тольятти</div>
                    </div>
                </span>
                </span>
            </div>
                <div class="main-select-2pf7p main-filters-JkqKk main-selectExpanded-1pXC_" data-marker="search-form/radius">
                    <div class="main-text-2PaZG main-textWithDots-2qyhU">Радиус / Район</div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>