
.index_all {
	background-color: #E5E5E5;
	widows: 1400 px;
	margin: 0 auto;
}
.main_slider_img {
	width: 635px;
	height: 461px;
}
.index_delivery_img {
	width: 480px;
	height: 559px;
	left: 110px;
	top: 1243px;
}